<% @conspect.comments.each do |comment| %>
  <p><%= comment.user_name %></p>
  <p><%= comment.content %></p>
  <%= link_to like_conspect_comment_path(comment), method: :put do %>
    <button class="btn btn-primary">Like</button>
    <span>Likes: <%= comment.get_likes.size %></span>
  <% end %>
  <hr>
<% end %>