<h3 class="text-center mt-3">Edit Conspect</h3>

<%= render 'form', conspect: @conspect %>

<div class="d-flex justify-content-center mb-2">
  <%= link_to 'Show', @conspect %> |
  <%= link_to 'Back', @conspect %>
</div>
